@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
  font-family: 'Roboto'; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1{
  font-size: 30px;
  font-weight: 500;
  background-color: wheat;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2{
  font-size: 20px;
  font-weight: 400;
  background-color: wheat;
  padding: 10px;
  text-transform: uppercase;
  color: red;
  margin-top: 10px;
}

h3{
  font-size: 14px;
  font-weight: 300;
}

button{
  background-color: blue;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 26px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

button:hover{
  background-color: teal;
}

.Inicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  text-transform: uppercase;
}

.Inicio p{
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.Inicio .instrucao{
  background-color: blanchedalmond;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  text-align: justify;
  line-height: 30px;
  min-width: 300px;
  padding: 0 20px;
}

.O-Cubo{
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.A-Escada{
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.A-Tempestade{
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.As-Flores{
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.O-Cavalo{
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}


.question{
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: bisque;
  border-radius: 20px;
}

.Rodape{
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 100px;
  background-color: burlywood
}

.Rodape p{
  min-width: 300px;
  background-color: cadetblue;
  color: aliceblue;
  padding: 20px;
  border-radius: 20px;
}

.teste{
  background-color: aqua;
  color: black;
}